<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Rocketry Club Data Visualizer</title>
</head>
<body>
    <h1>Testing Range Finder: </h1>
    <label for="sensors">Choose a sensor: </label>
    <select name="sensors" id="selector">
        <option value="imusensor">imu</option>
        <option value="altsensor">altimeter</option>
    </select>
    <button onclick="connect()">connect</button>
    <button onclick="disconnect()">disconnect</button>
    <div class="data" id="data"></div>
    <script src="socket.io.js"></script>
    <script src="plotly-latest.min.js"></script>
    <script src="source.js"></script>
</body>
</html>