<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Rocketry Club Data Visualizer</title>
</head>
<body>
    <h1>Testing Sensors: </h1>
    <label for="sensors">Choose a sensor: </label>
    <select name="sensors" id="selector" onchange="populateTests()">
        <option value="imusensor">imu</option>
        <option value="altsensor">altimeter</option>
    </select>
    
    <label for="sensors">Choose a test: </label>
    <select name="tests" id="test_selector" onchange="changeTest()">
        <!--Populate depending on what sensor is being used-->
    </select>

    <label for="sensors">Choose a graph: </label>
    <select name="graphs" id="graph_selector" onchange="changeGraph()">
        <!--Populate depending on what sensor is being used-->
    </select>
    <button onclick="connect()">connect</button>
    <button onclick="disconnect()">disconnect</button>

        <!--Append graph and terminal element-->
    <div class="data" id="data"></div>
    <div class="terminal" id="terminal_selector"></div>

    <script src="socket.io.js"></script>
    <script src="plotly-latest.min.js"></script>
    <script src="source.js"></script>
</body>
</html>